<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单发货</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../static/admin/common/layui/css/layui.css" th:href="@{/admin/common/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/admin/common/bootstrap/css/bootstrap.css" th:href="@{/admin/common/bootstrap/css/bootstrap.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/admin/common/global.css" th:href="@{/admin/common/global.css}" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/personal.css" th:href="@{/admin/css/personal.css}" media="all">
    <script type="text/javascript" src="../../static/layer/jquery-2.0.3.min.js" th:src="@{/layer/jquery-2.0.3.min.js}"></script>
    <script type="text/javascript" src="../../static/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" src="../../static/admin/js/popup.js" th:src="@{/admin/js/popup.js}"></script>
</head>
<body>
<section class="layui-larry-box">
    <div class="larry-personal">
        <header class="larry-personal-tit">
            <span>发货</span>
        </header><!-- /header -->
        <div class="larry-personal-body clearfix changepwd">
            <form class="layui-form col-lg-4" id="supplierform" method="post" th:action="@{/admin/faHuo}"
                  onsubmit="return supplieradd()">
                <input type="hidden" name="id" th:value="${id}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">快递公司</label>
                    <div class="layui-input-block" style="width: 300px;">
                        <select name="company" id="company" style="width: 300px;" lay-verify="required"
                                autocomplete="off" class="layui-input">
                            <option value="">请选择类别</option>
                            <option value="天天快递">天天快递</option>
                            <option value="圆通快递">圆通快递</option>
                            <option value="申通快递">申通快递</option>
                            <option value="韵达快递">韵达快递</option>
                            <option value="德邦物流">德邦物流</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">运单号</label>
                    <div class="layui-input-block">
                        <input type="text" name="waybillno" id="waybillno" lay-verify="required" style="width: 300px;"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item change-submit">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" id="supplierbutton" lay-filter="demo1">发货</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript" src="../../static/admin/common/layui/layui.js" th:src="@{/admin/common/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['form', 'upload'], function () {
        var form = layui.form();
    });

    function up(tt) {
        layer.open({
            type: 2,
            title: '上传文件',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['450px', '200px'],
            content: '/booksalessm/upload.jsp?Result=' + tt
        });
    }
</script>
</body>
</html>