<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="../../static/admin/common/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/admin/common/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/admin/css/personal.css">
    <link rel="stylesheet" href="../../static/admin/common/global.css">
    <script src="../../static/admin/js/newslist.js"></script>
    <script src="../../static/admin/common/layui/layui.js"></script>
    <script src="../../static/layer/jquery-2.0.3.min.js"></script>
</head>
<body>
<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <form action="#" th:action="@{/admin/searchMember}" method="post" id="searchform" name="searchform">
                            <input value="${key}" placeholder="请输入用户名或姓名" name="key" class="layui-input search_input" type="text">
                        </form>
                    </div>
                    <a class="layui-btn"  href="javascript:void(0)" onclick="searchnew()">查询</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger" href="javascript:void(0)" onclick="deleteAll()">批量删除</a>
                </div>
            </blockquote>

            <!-- 操作日志 -->
            <div class="layui-form news_list" >
                <table class="layui-table" style="font-size:12px;">
                    <colgroup>
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <input name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" type="checkbox">
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                        </th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>邮箱</th>
                        <th>等级</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="news_content" id="userTbody">
                    <tr th:each="member : ${list}">
                        <td>
                            <input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox" th:value="${member.id}">
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i></div>
                        </td>
                        <td th:text="${member.uname}"></td>
                        <td>******</td>
                        <td th:text="${member.tname}"></td>
                        <td th:text="${member.tel}"></td>
                        <td th:text="${member.email}"></td>
                        <td th:text="${member.lev}"></td>
                        <td>
                            <a class="layui-btn layui-btn-mini" th:href="@{/showLev(id=${member.id})}"><i class="iconfont icon-edit"></i> 提升等级</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-weight: bold;font-family:楷体;font-weight: bold; color:blue" colspan="8">
                            共${total}条记录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{/memberList(index=1)}" style="font-family:楷体;">首页</a>&nbsp;&nbsp;

                            <th:block th:switch="${index >1}">
                                <a th:case="true" th:href="@{/memberList(index=${index-1})}" style="font-family:楷体;">上一页</a>
                                <a th:case="false" href="javascrip:void(0)" style="font-family:楷体;">上一页</a>
                            </th:block>
                            &nbsp;&nbsp;
                            <th:block th:switch="${pages>index}">
                                <a th:case="true" th:href="@{/memberList(index=${index+1})}" style="font-family:楷体;">下一页</a>
                                <a th:case="false" href="javascrip:void(0)" style="font-family:楷体;">下一页</a>
                            </th:block>
                            &nbsp;&nbsp;
                            <a th:href="@{/memberList(index=${pages})}" style="font-family:楷体;">末页</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="larry-table-page clearfix">
                </div>
            </div>
            <!-- 登录日志 -->
        </div>
    </div>

</section>

<script type="text/javascript">
    layui.use(['jquery','layer','element','laypage'],function(){
        window.jQuery = window.$ = layui.jquery;
        window.layer = layui.layer;
        var element = layui.element(),
            laypage = layui.laypage;


        laypage({
            cont: 'page',
            pages: 10 //总页数
            ,
            groups: 5 //连续显示分页数
            ,
            jump: function(obj, first) {
                //得到了当前页，用于向服务端请求对应数据
                var curr = obj.curr;
                if(!first) {
                    //layer.msg('第 '+ obj.curr +' 页');
                }
            }
        });

        laypage({
            cont: 'page2',
            pages: 10 //总页数
            ,
            groups: 5 //连续显示分页数
            ,
            jump: function(obj, first) {
                //得到了当前页，用于向服务端请求对应数据
                var curr = obj.curr;
                if(!first) {
                    //layer.msg('第 '+ obj.curr +' 页');
                }
            }
        });
    });

    function searchnew(){
        //${"#searchform"}.submit();
        searchform.submit()

    }

    function deleteAll(){
        //var $checkbox = $("input[name='checked']");
        //var len = $("input[name='checked']:checked").length;
        var checkedbox = $("input[name='checked']:checked");

        var arr = new Array();
        $(checkedbox).each(function(i){
            arr[i] = $(this).val();
        });
        var vals = arr.join(",");
        $.ajax({
            type:"post",
            url:"memberDelAll?vals="+vals,
            date:"",
            success:function(msg){
                location.replace("memberList");
            }


        })

    }
</script>
</body>
</html>